{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card p-4 shadow">

            <h2 class="mb-4 text-center">
                Create Account
            </h2>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"
                        class="btn btn-custom w-100">

                    Signup

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}